body{
    margin: 0;
    padding: 0;
    /* background:#c62368; */
    /* background: rgb(198, 35, 104); */
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    font-family:'Trebuchet MS', sans-serif;
    background: #111;
    box-sizing: border-box;
	/* height: 100vh; */
}
header{
    display: flex;
    align-items: center;
    height: 150px;
    color:rgb(255,255,255);
    width: 100%;
    justify-content: center;
}
svg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}
.bottom-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.input-container{
    position: relative;
    width: 100%;
    max-width: 600px;
    /* margin-top: -5rem; */
}
input{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: rgb(38, 57, 77) 0, 20px, 30px, -10px;
    box-sizing: border-box;

}
#submit-btn{
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
}
.images-section{
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    /* margin: -5rem 0 0 0; */
    gap: 10px;
    /* grid-template-columns: 40% 40%;
    grid-template-rows: 300px 300px; */
}
.image-container{
    width: 40%;
    border-radius: 15px;
    overflow: hidden;
    /* box-shadow: rgb(38, 57, 77) 0, 20px, 30px, -10px; */
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
             -15px -15px 30px rgb(60, 60, 60);

}
.image-container img{
    width: 100%;
}

.wrapper span {
	position: fixed;
	bottom: -180px;
	height: 50px;
	width: 50px;
	z-index: -1;
	background-color: #18191f;
	box-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff, 0 0 200px #0072ff;
	animation: animate 10s linear infinite;
}
.wrapper span:nth-child(1) {
	left: 60px;
	animation-delay: 0.6s;
}
.wrapper span:nth-child(2) {
	left: 10%;
	animation-delay: 3s;
	width: 60px;
	height: 60px;
}
.wrapper span:nth-child(3) {
	left: 20%;
	animation-delay: 2s;
}
.wrapper span:nth-child(4) {
	left: 30%;
	animation-delay: 5s;
	width: 80px;
	height: 80px;
}
.wrapper span:nth-child(5) {
	left: 40%;
	animation-delay: 1s;
}
.wrapper span:nth-child(6) {
	left: 50%;
	animation-delay: 7s;
}
.wrapper span:nth-child(7) {
	left: 60%;
	animation-delay: 6s;
	width: 100px;
	height: 100px;
}
.wrapper span:nth-child(8) {
	left: 70%;
	animation-delay: 8s;
}
.wrapper span:nth-child(9) {
	left: 80%;
	animation-delay: 6s;
	width: 90px;
	height: 90px;
}
.wrapper span:nth-child(10) {
	left: 90%;
	animation-delay: 4s;
}
.banner {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    /* margin-top: -10rem; */
    
}
.content h2 b {
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: #fff;
	font-family: montserrat;
	font-size: 50px;
	text-transform: uppercase;
	letter-spacing: 12px;
}
@keyframes animate {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	80% {
		opacity: .7;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}
/* Media Queries for Different Screen Sizes */

@media (max-width: 768px) {
    /* Adjust styles for screens with a maximum width of 768px */
    .banner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-top: -25rem
    }
    input {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-size: 20px;
        box-shadow: rgb(38, 57, 77) 0, 20px, 30px, -10px;
        box-sizing: border-box;
    }
    .content h2 b {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: #fff;
        font-family: montserrat;
        font-size: 40px;
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    .input-container {
        /* max-width: 400px; */
        /* display: none; */
        width: 95vw;
        margin-top: -7rem;
    
    }
    .images-section {
        display: grid;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 10px;
        margin: -35rem 0px 0 0;
        grid-template-columns: 45% 45%;
        grid-template-rows: 175px 175px
    }
    .image-container {
        width: 100%;
    }
    
        
    
}

/* Adjust styles for screens with a maximum width of 480px */
@media (max-width: 480px) {
    .banner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-top: -15rem
    }
    input {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-size: 20px;
        box-shadow: rgb(38, 57, 77) 0, 20px, 30px, -10px;
        box-sizing: border-box;
    }
    .content h2 b {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: #fff;
        font-family: montserrat;
        font-size: 40px;
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    .input-container {
        /* max-width: 400px; */
        /* display: none; */
        width: 80vw;
        margin-top: -5rem;
    
    }
    .images-section {
        display: grid;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 10px;
        margin: -23rem 0px 0 0;
        grid-template-columns: 45% 45%;
        grid-template-rows: 175px 175px
    }
    .image-container {
        width: 100%;
    }
    
}
@media (min-width: 768px) and (max-width: 1023px)  {
    /* Styles for mobile phones */
    .banner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-top: -12rem
    }
    input {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-size: 20px;
        box-shadow: rgb(38, 57, 77) 0, 20px, 30px, -10px;
        box-sizing: border-box;
    }
    .content h2 b {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: #fff;
        font-family: montserrat;
        font-size: 40px;
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    .input-container {
        /* max-width: 400px; */
        /* display: none; */
        width: 95vw;
        margin-top: 7rem;
    
    }
    .images-section {
        display: grid;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 10px;
        margin: -20rem 0px 0 0;
        grid-template-columns: 45% 45%;
        grid-template-rows: 175px 175px
    }
    .image-container {
        width: 100%;
    }
  }
/* ===============delte-btn=================== */
.delete-button {
    margin-left: 1px;
    background-color: #000;
    color: #fff;
    font-size: 44px;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 8px;
    width: 60px;
    height: 65px;
    border-radius: 15px 15px 12px 12px;
    cursor: pointer;
    position: relative;
    will-change: transform;
    transition: all .1s ease-in-out 0s;
    user-select: none;
    /* Add gradient shading to each side */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    background-position: bottom right, bottom right;
    background-size: 100% 100%, 100% 100%;
    background-repeat: no-repeat;
    box-shadow: inset -4px -10px 0px rgba(255, 255, 255, 0.4),
      inset -4px -8px 0px rgba(0, 0, 0, 0.3),
      0px 2px 1px rgba(0, 0, 0, 0.3),
      0px 2px 1px rgba(255, 255, 255, 0.1);
    transform: perspective(70px) rotateX(5deg) rotateY(0deg);
  }
  
  .delete-button::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.5));
    z-index: -1;
    border-radius: 15px;
    box-shadow: inset 4px 0px 0px rgba(255, 255, 255, 0.1),
      inset 4px -8px 0px rgba(0, 0, 0, 0.3);
    transition: all .1s ease-in-out 0s;
  }
  
  .delete-button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    background-position: bottom right, bottom right;
    background-size: 100% 100%, 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
    border-radius: 15px;
    transition: all .1s ease-in-out 0s;
  }
  
  .delete-button:active {
    will-change: transform;
    transform: perspective(80px) rotateX(5deg) rotateY(1deg) translateY(3px) scale(0.96);
    height: 64px;
    border: 0.25px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset -4px -8px 0px rgba(255, 255, 255, 0.2),
      inset -4px -6px 0px rgba(0, 0, 0, 0.8),
      0px 1px 0px rgba(0, 0, 0, 0.9),
      0px 1px 0px rgba(255, 255, 255, 0.2);
    transition: all .1s ease-in-out 0s;
  }
  
  .delete-button::after:active {
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.2));
  }
  
  .delete-button:active::before {
    content: "";
    display: block;
    position: absolute;
    top: 5%;
    left: 20%;
    width: 50%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    animation: overlay 0.1s ease-in-out 0s;
    pointer-events: none;
  }
  
  @keyframes overlay {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .delete-button:focus {
    outline: none;
  }